.search {
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar {
  width: 20%;
  border: 3px solid rgb(61, 10, 77);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(61, 10, 77);
}
.submit {
  width: fit-content;
  height: 36px;
  border: 1px solid rgb(61, 10, 77);
  background: rgb(61, 10, 77);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  align-self: end;
}
