.username {
  display: flex;
  align-items: center;
  color: #58a6ff;
  font-weight: 600;
  font-size: large;
}

.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.username:nth-child(3) {
  margin-left: 5px;
}
